* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.container {
  background-color: lightcoral;
  border: 1px solid black;
  border-radius: 10px;
}

.inputSection {
  text-align: center;
  padding: 20px 150px;
}

h1 {
  text-align: center;
  color: white;
}

input {
  /* flex: 1; */
  padding: 8px;
}

button {
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #eee;
}

button:hover {
  background-color: #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 8px 12px;
}

li:nth-child(even) {
    background-color: #ccc;
}

li:hover {
    background-color: #bbb;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}